* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(180deg, #c8b39a, #bda88f); */
  font-family: 'Nunito', sans-serif;
}

.phone {
  margin-top: 20px;
  width: 360px;
  height: 800px;
  background: #f9f5ef;
  border-radius: 34px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin-bottom: 18px;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #5f4f3b;
  margin-bottom: 4px;
}

header h2 {
  font-size: 14px;
  font-weight: 600;
  color: #8b7a61;
  margin-bottom: 8px;
}

header p {
  font-size: 13px;
  color: #6f6a5f;
  line-height: 1.6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}

.card {
  padding: 14px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}



.gratitude { background: #00825a; }
.reflection { background: #2857f4; }
.kindness { background: #e9ac2e; }
.action { background: #d40274; }
.forgiveness { background: #e01d27; }
.focus { background: #ffeef1; }

.prompt {
  margin-top: auto;
}

.prompt h2 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #ffffff;
  padding: 14px;
 border-radius: 20px 15px 0 0;
  background: linear-gradient(135deg, #6fbf73, #4e9f64);
  display: flex;
  align-items: center;
  gap: 10px;
}


.prompt span {
  background: #ffffff;
  color: #2f4f2f;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}


.prompt-inner {
  background: #7edb89;
  margin-top: -15px;
  border-radius: 0 0 16px 16px;
  padding: 16px;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.05);
}

.prompt p {
  text-align: center;
  font-size: 14px;
  color: #3f4f3f;
  margin-bottom: 16px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.controls p {
  margin: 0;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  color: #ffffff;
  font-size: 22px;
}

.btn {
  width: 42px;
  height: 42px;
}

.btn1 {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(97, 155, 97), rgb(70, 139, 70));
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25);
}

footer {
  text-align: center;
  font-size: 12px;
  color: #7a7468;
  margin-top: 12px;
  line-height: 1.4;
}
